In [11]:
print("Hello world")

Hello world

In [12]:
print("lalliiiiii!!!!!!")

lalliiiiii!!!!!!

In [13]:
print("introvert")

introvert

In [14]:
print("hi hello bye")

hi hello bye

In [15]:
print("ok")

ok

In [1]:
"hihii"

"get lost"

"ok"

print("ok")

ok

# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

**bold text**
*italic*
***bold and italic***

* list
    * sublist1
    * sublist2
         * inner sublist
         
>1.ordered list1<br>
>2.ordered list2

In [9]:
<h1 style="color:violet;font-size:10px">This is heading1</h1>

SyntaxError: invalid syntax (<ipython-input-9-d46af0abb5d5>, line 1)

In [8]:
<img src="wall.jpeg" alt=<dog image>

SyntaxError: invalid syntax (<ipython-input-8-162a9367f95d>, line 1)

In [10]:
<a href="https://www.google.com/"

SyntaxError: invalid syntax (<ipython-input-10-63d75d2c65ac>, line 1)

In [11]:
a=10
print(a)
b=20
print(b)
c=30
print(c)

10
20
30

In [12]:
_=50
print(_)

50

In [13]:
c1='chandra'
print(c1)

chandra

In [22]:
c=10
print(c)
print(type(c))

10
<class 'int'>

In [21]:
l=50.66
print(l)
print(type(l))

50.66
<class 'float'>

In [23]:
_c='lalli'
print(_c)
print(type(_c))

lalli
<class 'str'>

In [24]:
c=6j
print(c)
print(type(c))

6j
<class 'complex'>

# typecasting

In [25]:
a=10
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [29]:
a=20
print(float(a))
print(type(float(a)))
print(str(float(a)))
print(type(str(float(a))))

20.0
<class 'float'>
20.0
<class 'str'>

In [35]:
l=20.67
print(type(l))
print(int(l))
print(type(int(l)))

<class 'float'>
20
<class 'int'>

In [36]:
l=20.67
print(str(l))

20.67

In [47]:
l="6"
print(type(l))
print(type(float(l)))
print(type(int(l)))
print(type(complex(l)))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [71]:
# print("hi")
"""hi ppl bye"""

'hi ppl bye'

In [52]:
l=input("ENTER A VALUE :")
print(l)
print(type(l))

ENTER A VALUE :lalls
lalls
<class 'str'>

In [57]:
l=int(input("enter int value :")
print(type(l))

SyntaxError: invalid syntax (<ipython-input-57-46ad03d8bfb8>, line 2)

In [58]:
l=float(input("enter float value :"))
print(type(l))

enter float value :90.0
<class 'float'>

In [70]:
a=int(input("enter a value :"))
b=int(input("enter b value :"))
print(a+b)
print("addition of a and b is ",a+b)
print("addition of %d and %d is :%d"%(a,b,a+b))
print("addition of {} and {} is :{}".format(a,b,a+b))
print("addition of {2} and {1} is :{0}".format(a,b,a+b))

enter a value :4
enter b value :5
9
addition of a and b is  9
addition of 4 and 5 is :9
addition of 4 and 5 is :9
addition of 9 and 5 is :4

# Arithmetic operators(+,*,-,/,//,%)

In [2]:
a=30
b=12
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

42
18
360
2.5
2
6

# Logical operators(and,or,not)

In [5]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [9]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)
x=10
y=20
x is not y

True
True
True
False

True

In [13]:
x=20
y=20
x is not y

False

# Assignment operators (=,*=,+=,-=,/=,%=)

In [20]:
a=10
a+=10
print(a)
a*=10
print(a)
a-=50
print(a)
a/=10
print(a)
a%=10
print(a)

20
200
150
15.0
5.0

In [29]:
# comparison operators(<,>,<=,>=,!=,==)

a=11
b=11
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a==b)

False
False
True
True
False
True

In [30]:
# identity operators
a=10
b=20
print( a is b)
print(a is not b)

False
True

In [32]:
# membership opearator

a="lalli"
print("l" in a)
print("j" in a)
print("b" not in a)

True
False
True

# Conditional statements
## if --> checks for single case
### syntax:
             if(condition}:
                 //statements
             
## if-else --> to check whether the given condition is true or false 
### syntax:
            if(condition):
                //statements
            else:
                //statements

## nested-if --> if first condition is true it checks for inner if (or) else part (or) it returns the else part
### syntax:
            if(condition1):
                //statements
                if(condition2):
                     //statements
                else:
                     //statements
            else:
                //statements
                
## elseif --> it checks n number of cases
### syntax:
            if(condition1):
                //statements
            elif(condition2):
                //statements
            elif(condition3):
                //statements
            else:
                //statements

In [33]:
# biggest of two numbers

a=20
b=10
if(a>b):
    print("{} is big".format(a))
else:
    print("{} is big".format(b))

20 is big

In [36]:
# eligible to vote or not

a=int(input("enter the AGE:"))
if(a>=18):
    print("eligible for vote")
else:
    print("not eligible for vote")

enter the AGE:21
eligible for vote

In [41]:
# biggest of three numbers

a=int(input())
b=int(input())
c=int(input())
if(a>b):
    if(a>c):
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

5
7
8
8

In [3]:
# check the given number is even or odd

num=int(input("Enter a number:"))
if(num%2==0):
    print("{} is Even number".format(num))
else:
    print("{} is Odd number".format(num))

Enter a number:9
9 is Odd number

In [5]:
# check the number is in the range

print("enter the num to check")
a=int(input())
print("enter the range")
b=int(input())
c=int(input())

if((a>=b) and (a<=c)):
    print("num lies in the given range")
else:
    print("num doesn't lies in the given range")

enter the num to check
50
enter the range
100
10
num doesn't lies in the given range

In [1]:
# check if given number is equal to number or not

s="123"
n=123
if n==int(s):
    print(n,"is equal to",s)
else:
    print(n,"is not equal to",s)

123 is equal to 123